<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

<script async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'>
</script>
<ins class='adsbygoogle' style='display:inline-block;width:728px;height: 90px' data-ad-client='ca-pub-5322598382857610' data-ad-slot='9631447724'></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</html>
